body {
    margin: 0px;
    font-family: "微软雅黑";
}

@media all and (min-device-width:1024px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }
}

@media all and (min-device-width:1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

#header {
    height: 100px;
}

#header div {
    display: inline-flex;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
}

#logo {
    padding-left: 20px;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    margin-right: 20px;
    line-height: 80px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#menu ul li a:hover {
    border-bottom: #00AEEF 5px solid;
    width: 100%;
}

.active {
    border-bottom: #00AEEF 5px solid;
}

.login, .signup {
    color: white;
    width: 100px;
    height: 40px;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

.login {
    background-color: #00aeef;
    margin-right: 20px;
}

.signup {
    background-color: grey;
}

.signup:hover {
    background-color: #00aeef;
}

.how-to-work {
    -moz-column-count: 3;
    /* Firefox */
    -webkit-column-count: 3;
    /* Safari 和 Chrome */
    column-count: 3;
    -moz-column-gap: 40px;
    /* Firefox */
    -webkit-column-gap: 40px;
    /* Safari 和 Chrome */
    column-gap: 40px;
    padding: 20px;
}

.howwork {
    border-bottom: solid #00aeef 3px;
    text-align: center;
    padding: 20px 0;
}

.howwork:hover {
    background-color: #00aeef;
}

.howwork h3 {
    font-size: 20px;
    font-weight: 500;
}

.search-input {
    width: 195px;
    height: 40px;
    border-radius: 1px;
    border: 1px solid gray;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    margin-right: 10px;
    padding: 6px 12px;
    font-size: 14px;
}

.page-title {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}

.page-title h5{
    text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0
}

.page-title h2 {
    font-size: 25px;
    font-weight: 800;
    margin-top: 5px;
    text-transform: uppercase;
  }

.page-title span {
    color: #00adef;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.table {
    width: 75%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.tb-logo {
    width: 70px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
    border-top: 0px;
    padding: 15px;
}

.table tr td h4 {
    font-weight: 700;
    font-size: 18px;
}

.job-type {
    font-weight: 300;
    font-size: 14px;
}

.table>tbody>tr>td.tbl-logo {
    padding-right: 0px;
}

.table tr td p {
    font-size: 13px
}

.table tr td p i {
    color: #00AEEF;
}

.table tr:hover td p i {
    color: #0486B7
}

.table tr td a {
    color: WHITE;
    background-color: #00AEEF;
    padding: 12px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
}

.table tr:hover {
    background: #00AEEF
}

.table tr:hover td a {
    background: #0486B7
}

.table tr:hover td a:hover {
    background: #fff;
    color: #00AEEF
}

.tb-line {
    background-color: #f9f9f9;
}

.tb-line2 {
    background-color: #F4FFFF;
}

.more-jobs {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.more-jobs a {
    background: none repeat scroll 0 0 #d1d1d1;
    color: #666666;
    padding: 14px 22px;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
}

.more-jobs a:hover {
    color: #666666;
    text-decoration: underline;
}
.more-jobs i {
    margin-right: 10px;
    font-size: 16px
}

#footer {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 12px;
    text-align: center;
    border-top: 4px solid #00AEEF;
    margin-top: 20px;
}

#copyright {
    text-align: center;
}

#footer div ul li a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

#usefulLink ul {
    list-style: none;
}

#sitemap ul {
    list-style: none;
}